{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'sign.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="box">
        Sign in Page
        <div class="blocks"><input type="text" placeholder="username" /></div>
        <div class="blocks"><input type="text" placeholder="mobile" /></div>
        <div class="blocks"><input type="text" placeholder="E-mail" /></div>
        <input type="submit" id="def" />
      </div>
    </div>
  </body>
</html>
